# Daily Practise File : Data Structures
#-----------------------------
#

## Features
Mutable - Can be Changed
Ordered - Data is Sorted, maintain the original order

## List

In [2]:
#List - ordered collection of items, mutable(changeable) : [square ]
list1 = [1,2,3,4,5,'a','Dhiraj',"Upadhyaya", "Sandeep Kumar",True]  #list type of object with data
list1  #print when through spyder

[1, 2, 3, 4, 5, 'a', 'Dhiraj', 'Upadhyaya', 'Sandeep Kumar', True]

In [3]:
type(list1)  #type of object

list

In [4]:
print(list1)

[1, 2, 3, 4, 5, 'a', 'Dhiraj', 'Upadhyaya', 'Sandeep Kumar', True]

In [5]:
# this also prints to screen
list1

[1, 2, 3, 4, 5, 'a', 'Dhiraj', 'Upadhyaya', 'Sandeep Kumar', True]

In [6]:
# sort a list
sorted([100000,5,3,2,4,5,324,43,4,4,3,23,434,53442,244,2245224,523])

[2, 3, 3, 4, 4, 4, 5, 5, 23, 43, 244, 324, 434, 523, 53442, 100000, 2245224]

In [ ]:
list2 = ['f','c','d','e',"f"]
list2

In [ ]:
print(list2.count('f'), list2.count('d'))

In [ ]:
len(list2)

In [ ]:
help(print)

In [ ]:
print(dir(list), end ='\t')  #functions/ methods available for list object

In [ ]:
sorted(list2)

In [ ]:
# select a particular item from list by inded
list2[2]

In [ ]:
# change an item in list, assign (mutable object)
list2[2] ='Z'
print(list2)

## Tuple
List type of an object, but not mutable (ie values cannot be changed)
created by round brackets around the items ( )

In [ ]:
tuple1 = (1,2, 'a', 'b')
print(tuple1)

In [ ]:
type(tuple1)

In [ ]:
# select item by index
tuple1[1]

In [ ]:
tuple1[1] = 0  #changes not possible, immutable
# error - object does not support item assignment

In [ ]:
# however all values of tuple can be reassigned, recreated
tuple1 = (5,45) #overwriting is possible
print(tuple1)

## Dictionary 
Key-Value pairs
created by curly brackets { key : value} with colon in between key and values

In [ ]:
dict1 = {1:'Ramesh', 2:'Suresh', 3:'Priyanka'}
dict1

In [ ]:
type(dict1)

In [ ]:
# create a dictionary object
car = { 'brand':'Honda', 'model': 'Jazz', 'year' : 2017}
car

In [ ]:
type(car)   #dict type

In [ ]:
#access
print(car['brand'])
print(car['year'])
print(car.get('year'))

In [ ]:
print(dir(car), sep='\t')   #functions available for dict object

In [ ]:
help(dir) # help

In [ ]:
#mutable
car['brand'] = 'MARUTI'
car  #mutable , value can be changed

# Frozen Dictionary
Dictionary object whose values cannot be changed

#%%frozen Dictionaries https://pypi.org/project/frozendict/

#conda install -c conda-forge frozendict #from anaconda as admin

## Sets
unordered collection of simple items, immutable
meaning elements have not a particular position inside a set.
Created by curly bracket or set ()

In [ ]:
set1 = set(['india', 'pakistan', 'england', 'australia','india'])
set1  #sorted, unique

In [ ]:
type(set1)

In [ ]:
set2 = {'INDIA','PAKISTAN',  "INDIA"}  #better way
print('Set2 ', set2)
set3 = {'Australia', 'South Africa', 'INDIA'}
print('Set3 ',  set3)

In [ ]:
# set has an sorted function
sorted(set3)

In [ ]:
#union  - combine all elements, remove duplicats
set2.union(set3)

In [ ]:
#intersection - common elements in 2 sets
#A.intersection(B)
set2.intersection(set3) #set2 & set

In [ ]:
print(dir(set2), sep ='\t')  #functions in set, cannot be subscript set2[1]

## Frozen Set
Type of set, frozen ( round bracket, comma)

In [ ]:
tupleFZ1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9) 
tupleFZ1   #immutable list is tuple

In [ ]:
type(tupleFZ1)

In [ ]:
# converting tuple to frozenset 
frozenset1 = frozenset(tupleFZ1) 
frozenset1  #only one 9

In [ ]:
type(frozenset1)

In [ ]:
# Dictionary to Frozen Set : only keys retained
dict1 = {1: 'Ramesh', 2: 'Suresh', 3: 'Priyanka'}
dict1
frozenset2 = frozenset(dict1)
type(frozenset2)
frozenset2 #keys of dictionary made as frozen set

## Strings
text with 'single quote'  or "doublequote"
immutable (elements cannot be changed)
However full string can be reassigned

In [ ]:
str1 = 'Python Programming'
print( 'Type of String "', str1, '" is ', type(str1))

In [ ]:
#functions in string
print(dir(str), sep='\t')

In [ ]:
str2 = "Dhiraj Upadhyaya"
str2.lower()

In [ ]:
print(str2)
str2[1] = 'Z' #immutable individual elements cannot be changed , but new string can be assigned

In [ ]:
str2 = 'Kounal'
str2

##  Important Data Structures
list, tuple
set, frozenset
dictionary, frozenDictionary
string

## Other Data Functions

### Sequence
tuple and list are used

In [ ]:
list1 = [1,2,3,4,5]
list2 = ['a','bb','ccc', 'dddd', 'eeeee']
list1

In [ ]:
#for loop : indentations with colon : Run next 2 lines together
for i in list1:
    print(i)

In [ ]:
#print inline with tab space
for i in list1:    print(i , end ='\t')

In [ ]:
# print with initial characters and some end characters
for i in list2:    print(i, 'DU' , sep='-' , end ='xxx')

In [ ]:
#a-DU-xxx ; i+sep+end
for i in list1:    print(i , 'HHHE', sep=' X ' , end ='\t')

In [ ]:
# print with count
for i in list1:    print('Dhiraj ', i + 6)

In [ ]:
# tuple can also be printed in the same manner
tuple1 = (1, 2, 'a', 'b')
tuple1
list5 = ['a',1]
list5
for i in tuple1:    print(i, end ='\t')

### range
help(range)  # start, stop, step; does not take keyword

In [ ]:
range(1, 100, 2)  #nothing happens, though it generates

In [ ]:
# print the range of values in sequence
for i in range(1, 100, 2):    print(i, end=' ')

### zip
map the similar index of multiple containers
zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

In [ ]:
name = [ "Dhiraj", "Kounal", "Akhil", "Pooja" ] 
rollno = [ 4, 1, 3, 2 ] 
marks = [ 90, 50, 60, 70 ] 
# using zip() to map values 
mapped = zip(name, rollno, marks) 
mapped    #no output

In [ ]:
type(mapped)

In [ ]:
x = zip(name, rollno, marks)
x

In [ ]:
print(set(x))

In [ ]:
for i , (n, r, m) in enumerate(zip(name, rollno, marks)):
    print(i, n, r, m)

## Numpy - Numerical Python
similar to list, but items to be one type (so less memory required to store and manipulate)
more functions available
helps in matrix computations

In [ ]:
#%% #numpy - array - same data type - numerical python
list1 = [1,2,3,5]
list1

In [ ]:
#%% #numpy - array - same data type - numerical python
list1 = [1,2,3,5]
list1

In [ ]:
import numpy
print(numpy.array([10,20])) #list to numpy array
print(numpy.array([list1])) #list inside a list

In [ ]:
import numpy as np #np is alias
np1 = np.arange(1,10)
np1

In [ ]:
x=np.arange(start=1,stop=1000000,step=2)
len(x)

In [ ]:
print(x[1:100])  # print from 1st position to 100th position
print()
print(x[1:50:10])  # print at interval of 10 starting 1st position to 50th position

In [ ]:
print(np.mean(np.arange(1,10000000)))
#mean of np array of numbers from 1 to 10^7

In [ ]:
print(type(np1))
print(dir(np1), sep ='\t')

In [ ]:
help(np)

In [ ]:
help(np.mean)

In [ ]:
np2 = np.array([ 90, 50, 60, 70 ])
print(np2)
print('Sorted NP array ', np.sort(np2))

In [ ]:
np3 = np.array([[1,4],[3,1],[5,6],[10,50]])
np3
#multi dim np array like matrix

In [ ]:
print(np3.shape)   #rows, columns
print(np3.shape[0]) #rows
print(np3.shape[1]) #cols
x= np3.shape[0] * np3.shape[1]
print('No of elements ', x)

In [ ]:
print(x%2 == 0)   #divisible by 2 : Even no of elements
print(x%3 == 0)   #divisible by 3
print(len(np3))   #no of rows

In [ ]:
np3

In [ ]:
# change the shape of np array
np3.reshape((-1,1))  #1 column from 2 column
#np.reshape((-1, noCols))   # from any number of columns change to 1 columns

In [ ]:
np3.reshape((-1))   # no columns

In [ ]:
np3.reshape((-1,2))

In [ ]:
np3.reshape((-1,3))  #error
#cannot be converted to 3 columns as there are 8 elements and 8 is not divisible by 3

In [ ]:
np3.reshape((-1,4))   # 4 columns

## Pandas
http://cs231n.github.io/python-numpy-tutorial/
pandas - dataframe, excel like
https://mode.com/python-tutorial/pandas-dataframe/
https://pandas.pydata.org/pandas-docs/stable/

In [ ]:
import pandas as pd

In [ ]:
print(dir(pd), sep ='\t')

In [ ]:
df1 = pd.DataFrame({'rollno':[1,2,3,4], 
                    'name': [ "Dhiraj", "Kounal", "Akhil", "Pooja" ], 
                    'marks':[ 40, 50, 60.5, 70 ], 'gender':['M', 'M','M', 'F']})
print(df1)
type(df1)

In [ ]:
df1

In [ ]:
print('Column Names - ', df1.columns)  #column nanes
print('Index/ Row Names - ', df1.index)  #row ids/ names  - here auto created
print('Data Types -', df1.dtypes) #data types
print('Shape of DF(R-C) -', df1.shape)  # rows and columns

In [ ]:
print('Describe Values (Numerical)-  ', df1.describe()) #description of numerical values

In [ ]:
# Groupby Functions on DF
df1.groupby('gender').size()  # how many M, F

In [ ]:
df1.groupby('gender')['marks'].mean()  #mean marks of each gender type

In [ ]:
# other stats summary gender wise
df1.groupby('gender').aggregate({'marks': [np.mean, 'max','min','std','count']})

## Graphs
Visualise data using different libraries of python
https://python-graph-gallery.com/
#https://matplotlib.org/

In [ ]:
#matplotlib
import matplotlib.pyplot as plt

In [ ]:
df1.groupby('gender').size()

In [ ]:
df1.groupby('gender').size().plot(kind='bar')
#this is using plot function in pandas

In [ ]:
plt.hist(df1['marks'])
#this is using matplotlib

In [ ]:
# Seaborn library
#https://seaborn.pydata.org/index.html
import seaborn as sns

In [ ]:
# it has datasets also
print(sns.get_dataset_names(), sep='\t')

In [ ]:
# sns.set(style="ticks", color_codes=True)
iris = sns.load_dataset("iris")  #load dataset from library
iris.head()
iris.tail()
#np.log(iris.sepal_length)
#np.log([1,10,1000])

In [ ]:
iris.groupby('species').size().plot(kind='bar')  #matplot

In [ ]:
sns.pairplot(iris)  #relationship diagrams using sns

## Datasets
Load Inbuilt Datasets

In [ ]:
#pip install pydataset
#install it first as it is not installed by default

In [ ]:
from pydataset import data

In [ ]:
print(data())   #more than 700 datasets with name as dataset_id

In [ ]:
#load dataset or print
data('iris')

In [ ]:
data('mtcars')

## Save DF to CSV and Excel

In [ ]:
mtcarsDF = data('mtcars')
mtcarsDF.head(6)

In [ ]:
type(mtcarsDF)   #it is DF which can used with pandas library

In [ ]:
# save to csv
mtcarsDF.to_csv('mtcars.csv')

In [ ]:
# save to excel
mtcarsDF.to_excel('mtcarsExcel.xlsx','sheet3', header=True)

In [ ]:
import os
dirContents = os.listdir('.')
print(dirContents)

### Read from CSV and Excel

In [ ]:
data2a  #not defined

In [ ]:
data2a = pd.read_csv('mtcars.csv') #when csv is in project folder
data2a.head()   #now data can be read

In [ ]:
print(data2b) #not defined,

In [ ]:
data2b = pd.read_csv('E:/analytics/projects/pyanalytics/mtcars.csv')
data2b.head()  # read from full path

In [ ]:
# read from excel

In [ ]:
data2c

In [ ]:
data2c = pd.read_excel('mtcarsExcel.xlsx',header=0)
data2c.head()

In [ ]:
#end here....
#now practise numpy and pandas...

In [ ]:
#last updated on 19Feb2023